body {
  text-align: center;
}
.card{
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 5px;
  font-weight: 100;
}
.card li{
  display: inline-block;
  margin: 10px;
  list-style: none;
}
.card li a{
  color: white;
  text-decoration: none;
  font-size: 700%;
}
.card li a:hover{
  color: #82f0ff;
}
p {
  font-size: clamp(40px, 4vw, 80px);
}
